@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


.login-container {
  display: flex;
  margin-top: 5%;
  height: 75vh;
  width: 70%;
  margin-left: 16%;
  font-family: 'Montserrat', sans-serif;
  border-radius: 8px;
}

.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fd;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
}

.login-left img {
  width: 100%;
  max-width: 500px;
}

.login-right {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.6);
}

.login-right h2 {
  margin-bottom: 1.5rem;
  color: #123c69;
}
img{
  height: 550px;
}

.login-right input[type="text"],
.login-right input[type="password"] {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-bottom: rgb(255, 149, 149)2px solid;
  outline: none;
}
.forgot-link {
  display: inline-block;
  margin: 10px 0;
  color: #0047ab;
  text-decoration: none;
  font-size: 0.9rem;
}

.error {
  color: red;
  margin: 10px 0;
}

.login-btn {
  width: 80%;
  padding: 12px;
  background: #f33628;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10%;
  cursor: pointer;
}

.success {
  color: green;
  margin-top: 10px;
}
.otp-modal {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex; align-items: center; justify-content: center;
  z-index: 999;
}

.otp-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.otp-content input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
}

.otp-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.verify-btn {
  background-color: #e60023;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
  width: 100%;
}

.loader-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4);
  display: flex; align-items: center; justify-content: center;
  z-index: 9999;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #e60023;
  border-radius: 50%;
  width: 50px; height: 50px;
  animation: spin 1s linear infinite;
}
.show-password-label {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  cursor: pointer;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

