@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
}
.login-container {
  display: flex;
  margin-top: 5%;
  height: 75vh;
  width: 70%;
  margin-left: 16%;
  border-radius: 8px;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.5);
}

.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fd;
}

.login-left img {
  width: 100%;
  max-width: 520px;
}

.login-right {
  flex: 1;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 35%;
  background: #fff;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.6);
}

.login-right h2 {
  margin-bottom: 4rem;
  margin-left: 3.5rem;
  color: #123c69;
}
img{
  height: 485px;
}
 @media screen and (max-width:800px) {
  .login-left {
    display: none;
  }
  .login-right h2 {
    margin-left: 0px;
  }
  
 }

.login-right input[type="text"],
.login-right input[type="password"] {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-bottom: rgb(255, 149, 149)2px solid;
  outline: none;
}
.forgot-link {
  display: inline-block;
  margin: 10px 0;
  color: #0047ab;
  text-decoration: none;
  font-size: 0.9rem;
}
.forgot-link:hover {
   color: #f33628;
}

.error {
  color: red;
  margin: 10px 0;
}

.login-btn {
  width: 80%;
  padding: 12px;
  background: #f33628;
  color: white;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1rem;
  margin-left: 10%;
  cursor: pointer;
}

.success {
  color: green;
  margin-top: 10px;
}
.otp-modal {
  position: fixed;
  top: 10; left: 30%;
  width: 40vw; height: 50vh;
  background-color: rgb(182, 153, 153);
  display: flex; align-items: center; justify-content: center;
  z-index: 999;
  border-radius: 6px;
  color: white;
}

.otp-content {
  background: white;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.otp-content input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
}

.otp-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.otp-modal button {
  background-color: #c74747;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 5px;
  width: 60%;
}
.close-btn {
  position: absolute;
  top: 5px;
  right: 15px;
  width: 10%;
  max-width: 10%;
  border: none;
  color: #333;
  cursor: pointer;
}

.otp-modal input{
   outline: none;
}

.loader-overlay {
  position: fixed;
  top: 20; left: 30%;
  width: 50vw; height: 50vh;
  background: rgba(0,0,0,0.4);
  display: flex; align-items: center; justify-content: center;
  z-index: 9999;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #e60023;
  border-radius: 50%;
  width: 50px; height: 50px;
  animation: spin 1s linear infinite;
}
.show-password-label {
  display: block;
  margin-top: 8px;
  font-size: 14px;
  cursor: pointer;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

